*{
	padding: 0px;
	margin : 0px;

	font-family: "Trebuchet MS", Helvetica, sans-serif
		/*outline: 1px solid black;
		*/
}
html{
	font-size: 62.5%;
	overflow: auto;
}

.pane { /*making all panes hidden at the start*/
	display: none;

}

.pane.active {
	display: grid;
	box-sizing: border-box;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
}

.subPane{
	display: grid;
	grid-template-columns: 1fr;
	width: 96vw;
	height: 96vh;
	margin: 2vh 2vw;
	box-shadow: 0px 0px 3px;
	border-radius: 5px;
	overflow: auto;

}
.subPane.tempContainer{
	grid-template-rows: 1fr 5fr 1fr 1fr;
	align-items: stretch;
}
/*

.subPane > div{
background-color: #ddd;
}
.subPane > div:nth-child(2n-1){
background-color: #eee;
}
*/

.calcPane.active{ /*this pane will change to parameter and graph panes*/


	width: 280px;
	height: 480px;
	margin: auto;
	border-radius: 8px;
	border: 2px solid #666699;
	box-shadow: 3px 5px 3px rgba(0,0,0,0.8);
	overflow: hidden;

}
.calcPane:not(.active){/*making all the other panes hidden*/
	display: none;
}

.subPane  h1{
	font-size: 2rem;
	margin: auto;
	width: 300px;
	text-align: center;
}
.subPane  p{

	font-size: 1rem;
	margin: auto;
	max-width: 280px;
	text-align: justify;
}
#header{
	width: 100%;
	height: 5%;
	padding-left: 5%;

}
#outPut{
	box-sizing: border-box;
	width: 95%;
	height: 20%;
	margin: auto;
	border-radius: 5px;
	background-color: #cce6ff;
	border: 2px solid #000066;
	box-shadow: -1px -2px 1px;


}
.absBtn{
	position: absolute;
}
.calcContainer .btnGrp{
	width: 100%;
	height: 75%;
}
.calcContainer button {
	box-sizing: border-box;
	width: 21%;
	height: 21%;
	margin: 2%;
	border-radius: 10px;
	font-size: 1.5em;
	text-shadow: -0.8px -0.8px 0px rgba(0,0,0,0.5);

} 
.calcContainer button:focus {
	outline: 0;

}

#exp{
	box-sizing: border-box;
	display: block;
	text-align: right;
	width: 100%;
	height: 25%;
	font-size: 1.6rem;
	/*outline: 1px solid black;
	*/
	overflow: hidden;

}
#ans{
	box-sizing: border-box;
	display: block;
	text-align: right;
	width: 100%;
	height: 75%;
	font-size: 5rem;
	overflow: hidden;

}

#tempFrm{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1em;
	align-content: center;
	width: 100%;
	height: 100%;	

}

#tempFrm input{

	height: 1.4em;
	width: 100%;
	box-sizing: border-box;
	text-align: right;
	font-size: 1.2em;
	font-weight: bolder;
	resize: none;	
	overflow: hidden;
}





#thermometerDiv{


}


.subForm{
	visibility: hidden;
	/*	padding-left: 30px;*/
	border: none; 

}
.subForm [type=number] {
	width: 40px;
	height: 12px;
}
.subForm:after { /*	creating separation between fieldsets*/
	content: "";
	display: block;
	height: 16px;
}
.subForm.active{
	visibility: visible;

}
.subform {
	display: inline;
}


fieldset > .button{
	padding: 0px 52px
}

.rtrnButton{
	display: block;
	margin: auto;

	margin-bottom: 10px;
}
.textField ,label {
	font-size: 1.5rem;
}
/*zip-code entry pane

*/
#zipForm  *{
	margin: auto;
	display: block;

}
.bigBtn{
	width: 200px;
	height: 50px;
	display: block;
	margin: 30px auto;
}
.centeralize{
	text-align: center;


}
.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
}

.switch input {display: none;}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
.bigLabel{
	font-size: 2rem;
}
#quadrant{
	background-color: aqua;
	outline: 1px solid red
}
